body {
  height: 1000px;
}

.wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid rgb(255, 0, 0);
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid rgb(0, 0, 0);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.red {
  width: 140px;
  height: 140px;
  background-color: rgb(231 76 60);
}

.blue {
  width: 100px;
  height: 100px;
  background-color: rgb(0 0 255 / 0.5);
}

.yellow {
  width: 80px;
  height: 80px;
  background-color: rgb(241 196 15);
}
