/* ============= VARIABLES ============= */
:root {
  --primary-font: 'Montserrat', sans-serif;
  --primary-text-color: 17 17 17;
  --secondary-text-color: 255 255 255;
  --accent-color: 253 146 34;
  --body-bg-color: 250 250 250;
  --transition-duration-and-func: 250ms linear;
}
/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES ============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font);
  color: rgb(var(--primary-text-color));
  background-color: rgb(var(--body-bg-color));
}

.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.accent-color {
  color: rgb(var(--accent-color));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sections {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* ============= /COMMON STYLES ============= */

/* ============= HEADER STYLES ============= */
.page-header-container {
  display: flex;
  align-items: center;
  column-gap: 90px;
}

.page-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.page-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.page-logo-icon {
  margin-left: 4px;
}

.menu {
  display: flex;
  column-gap: 24px;
  margin-left: auto;
}

.menu-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: color var(--transition-duration-and-func);
}

.menu-link:hover,
.menu-link:focus {
  color: rgb(var(--accent-color));
}

.social-list {
  display: flex;
  column-gap: 18px;
}

.social-list-link {
  display: block;
  line-height: 0;
  fill: none;
  stroke: rgb(17, 17, 17);
  transition: stroke var(--transition-duration-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
  stroke: rgb(var(--accent-color));
}

/* ============= /HEADER STYLES ============= */

/* ============= HERO STYLES ============= */
.hero-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 381px;
  padding-bottom: 40px;
  color: rgb(var(--secondary-text-color));
  background-color: rgb(30, 24, 35);
  background-image:
    linear-gradient(#1e182366, #1e182366), url('../images/hero/bg.jpg');
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 72px;
}

.hero-container {
  padding-left: 56px;
  padding-right: 56px;
}

.main-title {
  max-width: 484px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.hero-bottom-content {
  display: flex;
  align-items: center;
}

.buy-now-btn {
  min-width: 144px;
  padding: 14px 40px;
  margin-right: 14px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(var(--accent-color));
  color: rgb(var(--secondary-text-color));
  border: none;
  border-radius: 100px;
  transition:
    color var(--transition-duration-and-func),
    background-color var(--transition-duration-and-func);
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: rgb(252, 241, 224);
  color: rgb(var(--accent-color));
}

.how-made-link {
  display: block;
  min-width: 183px;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 100px;
  transition:
    color var(--transition-duration-and-func),
    border-color var(--transition-duration-and-func);
}

.how-made-link:hover,
.how-made-link:focus {
  color: rgb(var(--accent-color));
  border-color: rgb(var(--accent-color));
}

.scroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.03em;
  margin-left: auto;
  transition: color var(--transition-duration-and-func);
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: rgb(var(--accent-color));
}

.scroll-down-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #fd9222;

  transition:
    background-color 250ms linear,
    fill 250ms linear;
}

.scroll-down-link:hover .scroll-down-icon-wrapper,
.scroll-down-link:focus .scroll-down-icon-wrapper {
  background-color: #fd9222;
  fill: #ffffff;
}
/* ============= /HERO STYLES ============= */

/* ============= BENEFITS STYLES ============= */
.benefits-section {
  color: rgb(var(--secondary-text-color));
  background-color: #1e1823;
  margin-bottom: 50px;
}

.benefits-list {
  display: flex;
  column-gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.benefits-list-item {
  position: relative;
  width: calc((100% - 2 * 88px) / 3);
}

.benefits-list-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -18px;
  width: 1px;
  height: 124px;
  transform: translateY(-50%);
  background-color: #ffffff80;
  content: '';
}

.benefits-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
}

.benefits-list-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}

.benefits-list-text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgb(var(--secondary-text-color) / 0.7);
}
/* ============= /BENEFITS STYLES ============= */

/* ============= INGREDIENTS STYLES ============= */
.ingredients-section-title {
  max-width: 411px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.ingredients-description {
  max-width: 486px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}

.ingredients-list {
  display: flex;
  column-gap: 24px;
}

.ingredients-list-item {
  width: calc((100% - 3 * 24px) / 4);
  padding: 28px 32px;
  border: 1px solid #fd9222;
  border-radius: 15px;
  background-color: #ffffff;
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #ffffff;
}

.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border-color: #1e1823;
  color: #ffffff;
}

.ingredients-list-img {
  margin-bottom: 36px;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ============= /INGREDIENTS STYLES ============= */

/* ============= HOW MADE STYLES ============= */
.how-made-section-title {
  margin-bottom: 50px;
}

.how-made-content-wrapper {
  display: flex;
  column-gap: 20px;
}

.how-made-text-content {
  flex-grow: 1;
  padding: 32px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.how-made-title {
  max-width: 350px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 32px;
}

.how-made-list {
  padding-right: 26px;
}

.how-made-list-item {
  position: relative;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  padding-left: 16px;
}

.how-made-list-item::before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid #eceded;
  border-radius: 50%;
  background-color: #4c4c4c;
  content: '';
}

.how-made-list-item:not(:last-child) {
  margin-bottom: 24px;
}
/* ============= /HOW MADE STYLES ============= */

/* ============= REVIEWS STYLES ============= */
.reviews-section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.reviews-section-title {
  margin-bottom: 91px;
}

.reviews-list {
  display: flex;
  column-gap: 28px;
  margin-bottom: 50px;
}

.reviews-list-item {
  position: relative;
  width: calc((100% - 2 * 28px) / 3);
  padding: 56px 24px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: rgb(255, 255, 255);
}

.reviews-list-avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews-list-fullname {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 24px;
}

.reviews-list-text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(var(--primary-text-color) / 0.7);
}

.leave-review-btn {
  display: block;
  min-width: 222px;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  margin-left: auto;
  margin-right: auto;
  transition:
    color var(--transition-duration-and-func),
    background-color var(--transition-duration-and-func);
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: rgb(var(--secondary-text-color));
  background-color: rgb(var(--accent-color));
}
/* ============= /REVIEWS STYLES ============= */

/* ============= FOOTER STYLES ============= */
.page-footer {
  background-color: rgb(30, 24, 35);
  color: rgb(var(--secondary-text-color));
}

.page-footer-top-block {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
}

.page-footer-title {
  max-width: 300px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.page-footer-contact {
  font-style: normal;
}

.contact-slogan {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 14px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 4px;
}

.contact-list-link {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  transition: color var(--transition-duration-and-func);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: rgb(var(--accent-color));
}

.page-footer-bottom-block {
  padding-top: 18px;
}

.page-footer-menu {
  margin-left: 0;
}
/* ============= /FOOTER STYLES ============= */

/* ============= BACKDROP AND MODAL STYLES ============= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.3);

  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-duration-and-func);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  height: 794px;
  border-radius: 15px;
  background-color: rgb(250 250 250);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  stroke: rgb(17 17 17);
}

.modal-slogan {
  max-width: 298px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
/* ============= /BACKDROP AND MODAL STYLES ============= */

/* ============= REVIEW FORM STYLES ============= */
.review-form-field-wrapper {
  margin-bottom: 18px;
}

.review-form-field-label {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgb(64 64 64 / 0.3);
  margin-bottom: 8px;
}

.review-form-input-wrapper {
  position: relative;
}

/* .review-form-input-wrapper:focus-within .review-form-field-icon {
  stroke: rgb(var(--accent-color));
} */

.review-form-field {
  width: 100%;
  height: 68px;
  font-size: 18px;
  letter-spacing: -0.02em;
  border: 1px solid rgb(17 17 17 / 0.05);
  border-radius: 15px;
  background-color: transparent;
  padding-left: 62px;
  padding-right: 24px;
  transition: border-color var(--transition-duration-and-func);
}

.review-form-field:focus {
  outline: none;
  border-color: rgb(var(--accent-color));
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: none;
  stroke: rgb(64 64 64);
  transition: stroke var(--transition-duration-and-func);
}

.review-form-field:focus + .review-form-field-icon {
  stroke: rgb(var(--accent-color));
}

.review-form-message {
  width: 100%;
  height: 137px;
  font-size: 18px;
  letter-spacing: -0.02em;
  border: 1px solid rgb(17 17 17 / 0.05);
  border-radius: 15px;
  padding: 22px 24px;
  background-color: transparent;
  resize: none;
  transition: border-color var(--transition-duration-and-func);
}

.review-form-message::placeholder {
  color: rgb(64 64 64 / 0.3);
}

.review-form-message:focus {
  outline: none;
  border-color: rgb(var(--accent-color));
}

.review-form-checkbox-wrapper {
  margin-bottom: 40px;
}

.review-form-checkbox-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgb(64 64 64 / 0.6);
}

.review-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(17 17 17 / 0.14);
  border-radius: 6px;
  fill: transparent;
  cursor: pointer;
  margin-right: 12px;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-custom-checkbox {
  background-color: rgb(var(--accent-color));
  fill: rgb(255 255 255);
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  .review-form-custom-checkbox {
  border-color: #2563eb;
  box-shadow:
    0 0 0 1px #2563eb,
    0 0 0 4px rgba(37, 99, 235, 0.2);
}

.privacy-policy-link {
  text-decoration: underline;
}

.review-form-submit-btn {
  min-width: 117px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(255 255 255);
  border-radius: 100px;
  padding: 14px 16px;
  border: none;
  background-color: rgb(var(--accent-color));
  transition:
    background-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: rgb(252 241 224);
  color: rgb(var(--accent-color));
}
/* ============= /REVIEW FORM STYLES ============= */
